<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<style>
    .bg-4 {
        background-color: #ccffff;
        color: #555555;
        text-align: right;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
    }
</style>

<div class="column is-4 is-offset-4">
    <h3 class="title"> <p style="color: #6633ff; font-size: 35px; letter-spacing: 4px; line-height:80px;"> Login</h3>
        <style>
        .box {
            font-size: 16px;
            letter-spacing: 5px;
            color:  #000000;
            background-color: #66ccff;
            font-family: "Times New Roman", Times, serif;
        }
    </style>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <p style="color: #777777; font-size: 17px; letter-spacing: 4px;">Made by <a style="color: #6666ff; font-size: 15px; letter-spacing: 4px;", href="https://github.com/xuandt1289">Xuan Dang</a></p>
</footer>
{% endblock %}