<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<style>
    .bg-4 {
            background-color: #ccffff;
            color: #555555;
            text-align: right;
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
        }
    img {
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin-left: -50px;
        border-radius: 50%;
    }
</style>

<h1 class="title">
    <p style="color: #cc0000; font-size: 35px; letter-spacing: 4px; line-height:80px; text-transform: capitalize; "> Welcome, {{ name }}!
    <br />
    <br />
    <img src="https://images2.fanpop.com/images/photos/8300000/Smile-Wallpaper-keep-smiling-8317564-1024-768.jpg" class="img">
    <br />
</h1>

<footer class="container-fluid bg-4 text-center">
    <p style="color: #777777; font-size: 17px; letter-spacing: 4px;">Made by <a style="color: #6666ff; font-size: 15px; letter-spacing: 4px;", href="https://github.com/xuandt1289">Xuan Dang</a></p>
</footer>
{% endblock %}