<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<style>
    .bg-4 {
        background-color: #ccffff;
        color: #555555;
        text-align: right;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
    }
</style>
<div class="column is-4 is-offset-4">
    <h3 class="title" style="color:#6633ff">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <p style="color: #777777; font-size: 17px; letter-spacing: 4px;">Made by <a style="color: #6666ff; font-size: 15px; letter-spacing: 4px;", href="https://github.com/xuandt1289">Xuan Dang</a></p>
</footer>
{% endblock %}
